/*-------------------------------------------------------------   Header       */

.header {
    background-color: #292928;
    color: 	rgb(211, 211, 211)
}

/*-------------------------------------------------------------   Navigation bar       */

.nav-item{
    display: inline-block;
    text-align: center;
    padding-bottom: 35px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 25px;
}

.nav-item a:hover{
    text-decoration: none;
}

.home{
    color: rgb(211, 211, 211)
}

.home:hover{
    color: rgb(117, 115, 115)
}

.easy{
    color: rgb(78, 250, 78)
}

.easy:hover{
    color: rgb(4, 168, 4)
}

.medium{
    color: rgb(233, 253, 56)
}

.medium:hover{
    color: rgb(162, 175, 40)
}

.hard{
    color: rgb(238, 17, 17)
}

.hard:hover{
    color: rgb(145, 12, 12)
}

/*-------------------------------------------------------------   Body and Content       */

html, body {
  height: 100%;
  text-align: center;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.index-board {
    padding-bottom: 20px;
}

.information {
    padding-bottom: 20px;
    font-size: 20px;
}

/*-------------------------------------------------------------   Cards and their flipping       */

.backside {
    position: absolute;
}

.frontside,
.backside {
    background: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden
}

.frontside {
    transform: rotateY(180deg);
}

img {
    width: 125px;
    height: 125px;
    margin: 5px;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.league-memorygame {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*-------------------------------------------------------------   Footer       */

.footer {
    background-color: #292928;
    color: 	#F5F5F5;
}

.footer {
  flex-shrink: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}